<h1>Welcome to index</h1>
<h2>POR FIN!!!</h2> 
<p>Actualizado por Carlos<p>
<%= "Count to 10"%>
<br /> <% "#Salto de línea" %>
<% 11.times do |i| %> <% "#al poner |i| reclamas que i es un elemento temporary (temporal), que empieza en 0 " %>
<%=i%>		<%"#El hecho de poner un = despues del % es porque es un output, que quieres que el sistema te muestre algo." %>
<%end%>
<!--jsjs-->