<h1>Welcome to sample2</h1>
<p>Aprendiendo esta mierda de nuevo</p>
<%= "Count to ten"%>
<br />
<br /> <% "#Salto de línea" %>
<% 11.times do |i| %> <% "#al poner |i| reclamas que i es un elemento temporary (temporal), que empieza en 0 " %>
<%=i%>		<%"#El hecho de poner un = despues del % es porque es un output, que quieres que el sistema te muestre algo." %>
<%end%>
<br />
<br />
<%= rand(10) %>
